<div class="container-fluid">
    <div class="row">
        <div class="col bg-dark text-white">
            <a class="navbar-brand">
               ADMIN PAGE
            </a>
        </div>
        <div class="col bg-dark text-white" float="right">
            <button routerLink="/login">
               logout
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-3 p-2">
            
           <button class="btn btn-block btn-outline-primary" routerLink="/insert" >
           Insert Book
            </button>
        </div>
        <div class="col-3 p-2">
            <button class="btn btn-block btn-outline-primary" routerLink="/view" >
            View Book
             </button>
         </div>
         <div class="col-3 p-2">
            <button class="btn btn-block btn-outline-primary" routerLink="/update" >
            Update Book
             </button>
         </div>
         <div class="col-3 p-2">
            <button class="btn btn-block btn-outline-primary" routerLink="/delete" >
            Delete Book
             </button>
         </div>
         <div class="col-3 p-2">
            <button class="btn btn-block btn-outline-primary" routerLink="/promo" >
            Add promo
             </button>
         </div>
        
    </div>
</div>