<div class="container-fluid">
    <div *ngIf="regSent" class="m-2 text-center">
        <h1 style="color:green"> Registration Successful</h1>
        <button class="btn btn-primary"  routerLink="/login">
            Login
        </button>
    </div>
        <h3 class="text-center">User Registration</h3>
        <form #form="ngForm" novalidate (ngSubmit)="onClick(form)" class="m-2">
     
            <div class="form-group">
                <label class="float-left">Username</label>
                <input class="form-control" #username="ngModel" name="username" [(ngModel)]="user.username" required />
                <span *ngIf="submitted && username.invalid" class="text-danger">
                    Username is required
                </span>
            </div> 
            
            <div class="form-group">
                <label class="float-left">Password</label>
                <input class="form-control" type="password" #password="ngModel" name="password" [(ngModel)]="user.password" required />
                <span *ngIf="submitted && password.invalid" class="text-danger">
                    Please enter your password
                </span>
                
            </div>
            <div class="form-group">
                <label class="float-left">Email</label>
                <input class="form-control" type="email"  #email="ngModel" name="email" [(ngModel)]="user.email" required />
                <span *ngIf="submitted && email.invalid" class="text-danger">
                    Please enter your Email
                </span>
            </div>
            <div class="text-center">
                <button class="btn btn-primary m-1" type="submit">
                    Register
                </button>
                <button class="btn btn-secondary m-1" routerLink="/login">
                    Back
                </button>
     
            </div>
        </form>
    </div>